<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | AfterHours</title>
	{{!

	<link rel="stylesheet" href="/public/css/styles.css">

	<!--FONT AWESOME-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">!}}

</head>

<body>
	<header>

	</header>

	<div class="wrapper">
		<main>
			{{{body}}}
		</main>
		<div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src='/public/js/main.js'></script>

	<footer>
		<div class="footer">
			<div class="row">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-youtube"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</div>

			<div class="row">
				<ul>
					<li><a href="/reports">Contact us</a></li>
					<li><a href="#">Our Services</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms & Conditions</a></li>
				</ul>
			</div>

			<div class="row">
				Afterhours Copyright © 2023
			</div>
		</div>
	</footer>

</body>


</html>