<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}} | AfterHours</title>

	
	<link rel="stylesheet" href="/public/css/styles.css">
	
	<!--FONT AWESOME-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--GOOGLE FONTS-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
            rel="stylesheet"
        />

    </head>

    <body>
        <header>
            <nav class="main-nav" id="main-nav">
                <div class="content-wrapper-sm">
                    <a href="/" class="navbar-brand">After<strong
                        >hours</strong></a>

                    <div class="search-bar">
                        <input
                            type="text"
                            placeholder="Search the #happyHour Magic"
                        />
                        <button type="submit"><i
                                class="fa fa-search"
                            ></i></button>
                    </div>

                    <ul class="nav-links">
                        <li><a href="/bars"> Bar's List</a></li>
                        {{#if authenticated}}
                            {{#if authenticatedOwner}}
                                <li><a href="/bars/createbar">
                                        Create Bar</a></li>
                            {{/if}}
                            <li><a href="/account">My Account</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {{else}}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        {{/if}}
                        <li><a href="/about"> About Us</a></li>
                        <li><a href="/reports">Contact</a></li>

                    </ul>
                </div>
            </nav>
        </header>

        <main class="wrapper">
            {{{body}}}
            <div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </main>

        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        ></script>
        <script src="/public/js/main.js"></script>

        <footer>
            <div class="footer">
                <div class="row">
                    <a
                        href="https://www.facebook.com/profile.php?id=61554321882639"
                    ><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/afterhourshappyhour/"><i
                            class="fa fa-instagram"
                        ></i></a>
                    <a href="https://www.youtube.com/watch?v=ztofJZK0t_0"><i
                            class="fa fa-youtube"
                        ></i></a>
                    <a href="https://twitter.com/AfterHours21522"><i
                            class="fa fa-twitter"
                        ></i></a>
                </div>

                <div class="row">
                    <ul>
                        <li><a href="/reports">Contact us</a></li>
                        <li><a href="/services">Our Services</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/reviews"> Reviews </a></li>

                    </ul>
                </div>

                <div class="row">
                    Afterhours Copyright © 2023
                </div>
            </div>
        </footer>

    </body>

</html>