<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}} | AfterHours</title>
	{{!
	<link rel="stylesheet" href="/public/css/styles.css">!}}
</head>

<body>

	<main class="{{title}}">
		{{{body}}}
	</main>
	<script src='/public/js/main.js'></script>
</body>

</html>