<div class="card-wrapper">
	<div class="title">
		<h2>#AboutUs 🍸</h2>
		<p>Welcome to "#AfterHours" – where bytes meet bites, and the Fab Five devs redefine happy hour one line of code
			at a time! 🚀</p>
	</div>
	<div class="cards-container">

		<div class="card">
			<img src="/public/images/Gae.jpeg" class="profile-image" alt="image1">
			<div class="card-content">
				<div class="text-container">
					<h3>🥃 Gaetano J. - The Old Fashioned Guru</h3>
					<p>Backend Extraordinaire, GitHub and Everything Account Expert </p>
					<p>Gaetano is the master of timeless code, just like his favorite drink. He's the backbone of our 
					operations, ensuring our tech is as classic and reliable as an old fashioned. GitHub repos bow down
					 at his command, and he's always mixing up a perfect blend of stability and innovation.</p>
				</div>
			</div>
		</div>

		<div class="card">
			<img src="/public/images/Michael.jpeg" class="profile-image" alt="image1">
			<div class="card-content">
				<div class="text-container">
					<h3>🍹 Michael M. - The Margarita Maven</h3>
					<p>Backend Virtuoso, Everything Bars Expert</p>
					<p>Meet Michael, the man who codes as smoothly as he blends
						margaritas. From backend brilliance to bar expertise, Michael 
						is your go-to guy for a code cocktail that packs a punch. He's the
						reason our projects are as smooth as top-shelf tequila. </p>

				</div>
			</div>
		</div>

		<div class="card">
			<img src="/public/images/Miguel.jpg" class="profile-image" alt="image1">
			<div class="card-content">
				<div class="text-container">
					<h3> Miguel M. - The Mojito Maestro</h3>
					<p> Backend Virtuoso, Contact Us Reports Specialist and Everything photos backend</p>
					<p>Miguel is the secret ingredient to our success, much like the minty freshness
					 in a mojito. His expertise in backend sorcery ensures our "Contact Us" reports
					  are as refreshing as a sip of a well-crafted mojito. When the code gets hot, Miguel keeps it cool.</p>
				</div>
			</div>
		</div>

		<div class="card">
			<img src="/public/images/Cat.jpeg"
				class="profile-image" alt="image1">
			<div class="card-content">
				<div class="text-container">
					<h3>🍸 Catherine I., AKA Catz Meow - The Cosmopolitan Creator</h3>
					<p>CSS Queen, Creative Team Extraordinaire </p>
					<p>Catz Meow is not just about style sheets; she's the creative
						force behind our visually stunning projects. Like the cosmopolitan,
						her CSS is sleek and stylish, adding the perfect touch to our digital 
						cocktails. With Catz on the team, our code looks as good as it functions.</p>
				</div>
			</div>
		</div>

		<div class="card">
				<img src="/public/images/Mat.jpeg"
					class="profile-image" alt="image1">
			<div class="card-content">
				<div class="text-container">
					<h3>🍸 Matthew F. - The Moscow Mule Mixologist</h3>
					<p> Backend Wizard, Reviews and Client Experience Maestro </p>
					<p>Matthew is the silent force shaping our client experiences, 
						just like the subtle kick of ginger in a Moscow Mule. With his 
						backend wizardry, reviews flow seamlessly, creating a client journey 
						as smooth as copper against ice. Matthew ensures our projects leave a 
						lasting, memorable taste.</p>
						
				</div>
			</div>
		</div>
	</div>
</div>