<nav class="main-nav" id="main-nav">
    <div class="content-wrapper-sm">
        <a href="/" class="navbar-brand">After<strong>hours</strong></a>

        <div class="search-bar">
            <input type="text" placeholder="Search the #happyHour Magic">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div id="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/reports">Contact</a></li>
        </ul>
    </div>
</nav>



<div class="card-wrapper">
    <div class="title">
    <h2>#AboutUs 🍸</h2>
    <p>Welcome to "#AfterHours" – where bytes meet bites, and the Fab Five devs redefine happy hour one line of code at a time! 🚀</p>
    </div>
    <div class="cards-container">

        <div class="card">
            <img src="https://static-00.iconduck.com/assets.00/smiling-face-with-hearts-emoji-emoji-2026x2048-a7w8b5yr.png"
                class="profile-image" alt="image1">
            <div class="card-content">
                <div class="text-container">
                    <h3>Jovial Joel</h3>
                    <p>Joe's Craft Brew is more than just a drink; it's an API integration of flavors. With hops and malts as his variables, Joe concocts a brew that's a taste sensation. Expect the unexpected – it's not just a beer; it's a JSON of joy</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/602c09c9135a060af5e1a8f4/Face-with-Spiral-Eyes---a-new-Apple-emoji-/960x0.png?height=711&width=711&fit=bounds"
                class="profile-image" alt="image1">
            <div class="card-content">
                <div class="text-container">
                    <h3>Jovial Joel</h3>
                    <p>Joe's Craft Brew is more than just a drink; it's an API integration of flavors. With hops and malts as his variables, Joe concocts a brew that's a taste sensation. Expect the unexpected – it's not just a beer; it's a JSON of joy</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/602c09c9135a060af5e1a8f4/Face-with-Spiral-Eyes---a-new-Apple-emoji-/960x0.png?height=711&width=711&fit=bounds"
                class="profile-image" alt="image1">
            <div class="card-content">
                <div class="text-container">
                    <h3>Jovial Joel</h3>
                    <p>Joe's Craft Brew is more than just a drink; it's an API integration of flavors. With hops and malts as his variables, Joe concocts a brew that's a taste sensation. Expect the unexpected – it's not just a beer; it's a JSON of joy</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/602c09c9135a060af5e1a8f4/Face-with-Spiral-Eyes---a-new-Apple-emoji-/960x0.png?height=711&width=711&fit=bounds"
                class="profile-image" alt="image1">
            <div class="card-content">
                <div class="text-container">
                    <h3>Jovial Joel</h3>
                    <p>Joe's Craft Brew is more than just a drink; it's an API integration of flavors. With hops and malts as his variables, Joe concocts a brew that's a taste sensation. Expect the unexpected – it's not just a beer; it's a JSON of joy</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="profile-container">
            <img src="https://imageio.forbes.com/specials-images/imageserve/602c09c9135a060af5e1a8f4/Face-with-Spiral-Eyes---a-new-Apple-emoji-/960x0.png?height=711&width=711&fit=bounds"
                class="profile-image" alt="image1">
                </div>
            <div class="card-content">
                <div class="text-container">
                    <h3>Catherine Inoa</h3>
                    <p>Mandy doesn't just mix drinks; she crafts an Old Fashioned function that stands the test of time. With the perfect blend of classic ingredients, her function transports you back in time, ensuring your codebase is as refined as this timeless cocktail. </p>
                </div>
            </div>
        </div>

    </div>

</div>