<ul class="favoriteLinks">
	<li><a href="/account" id="account-tab">Account Info</a></li>
	<li><a href="/account/reviews" id="reviews-tab">My Reviews</a></li>

	{{#if authenticatedOwner}}
	<li><a href="/account/bars" id="bars-tab">My Bars</a></li>
	{{/if}}
</ul>

<h1 class="reviews-title">#YourFavorites:</h1>
<div>
	{{#if user.favorites}}
	<ul id="favorites-section">
		{{#each user.favorites}}
		<li>
			<div class="row"></div>
			<a href="/bars/{{this.barId}}">
				<div class="card-bar">
					#BarName: {{this.barName}} <br>
				</div>
			</a>
			<form action="/user/favorites" method="POST" class="favorite-button">
				<input type="hidden" id="barId" name="barId" value="{{this.barId}}">
				<input type="hidden" name="_method" value="PUT">
				<button type="submit" class="submit-button">Remove</button>
			</form>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<p>No favorites yet.</p>
	{{/if}}
</div>