<nav class="main-nav" id="main-nav">
    <div class="content-wrapper-sm">
        <a href="/" class="navbar-brand">After<strong>hours</strong></a>

        <div class="search-bar">
            <input type="text" placeholder="Search the #happyHour Magic">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div id="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/bars">Bars' List</a></li>
            <a href="/bars/createBar">New Bar</a>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>

            <li><a href="/about"> About Us</a></li>
            <li><a href="/reports">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax-image"></div>
    <div class="content">

        <h1>After<strong>hours</strong></h1>
        <h2>One-Stop Resource For Bar Enthusiasts</h2>
    </div>
</div>

<div class="bar-info">
    <div class="laser-beams">
        <div class="laser-beam"></div>
        <div class="laser-beam red"></div>
        <div class="laser-beam purple"></div>
        <div class="laser-beam green"></div>
    </div>

    <h1><strong>#Bars</strong>Of<strong>The</strong>Day</h1>

    <div class="bar-square" id="BOD-area">

    </div>
</div>