<h1>Hello World</h1>

<a class="link" href="/register">Click here to register!</a>
<a class="link" href="/login">Already have an account? Click here to log-in</a>
<a class="link" href="/logout">Logout</a>

<div class="row">
    <h3> Bar Of The Day</h3>
    <div class="bar-of-the-day" id="BOD-area">
    </div>

</div>