<div class="account-nav">
    <a class="account-link" href="/account" id="account-tab">Account Info</a>
    <a
        class="account-link"
        href="/account/favorites"
        id="favorites-tab"
    >Favorites</a>
    <a class="account-link" href="/account/reviews" id="reviews-tab">My Reviews</a>
    {{#if authenticatedOwner}}
        <a class="active account-link" href="/account/bars" id="bars-tab">My
            Bars</a>
    {{/if}}
</div>

<div class="bars-section" id="bar-section">
    <h1>Your Bars:</h1>
    {{#if bars}}
        {{#each bars}}
            <div>
                <p>Bar Name: {{this.name}}</p>
                <p>Rating: {{this.ratingAverage}}</p>
                <a href="/bars/{{this._id}}">Edit</a>
            </div>
        {{/each}}
    {{else}}
        <p>You have not created any bars yet.</p>
    {{/if}}
</div>