<div class="terms-wrapper">
    <h2> Afterhours Happy Hour Website <br> #PrivacyPolicy 🍷</h2>
    <p>
        Last Updated: December 9,2023
        <br>
        Welcome to Afterhours, where happiness is served in a glass with a twist of humor! We understand that privacy is
        important, even when you're having a blast. So, grab your favorite drink, kick back, and take a moment to read
        through our Privacy Policy.
    </p>
    <br>
    <p>Basics: What We Collect</p>
    <p>At Afterhours, we only collect the essentials to keep the party going smoothly: </p>
    <br>
    <ol>

        <li> Information: Just your name, email address and location, so we can send you exclusive invites and updates
            on the coolest happy hours in town. </li>

        <li> Preferences: We want to make sure your glass is always filled with your favorite concoction. Let us know
            what you like, and we'll do our best to keep the spirits high. </li>

        <li> cookies, The Tasty Kind: We use cookies on our website, but don't worry, they won't crumble and make a
            mess. These virtual cookies are here to enhance your experience and help us understand how to make your next
            visit even better. </li>


        <li>We Collect Data: To Keep the Vibes Positive </li>
    </ol>
    <br>
    <p>We collect your info for a few good reasons:</p>
    <br>
    <ul>
        <li>We want to tailor our recommendations based on your drink preferences. Nobody likes a cocktail mismatch!
        </li>

        <li>Expect invites, event updates, and the occasional witty newsletter. We promise not to spam – we're more like
            that friend who sends the perfect GIF at the right moment.</li>
    </ul>
    <br>
    <p> Gets a Sip of Your Data </p><br>

        <ul><li>Rest assured, your data is in good hands. We only share it with our trusted partners who help us host the best
        happy hours in town. They're sworn to secrecy and won't <br>spill the beans (or your data).</ul></li>
    </p>
    <br>
    <p>
        The Fine Print
    </p>
    <br>
    <p>
        This Privacy Policy is like a good cocktail – we crafted it with care. It's effective as of the last update
        date, and any changes will be posted here. So, check in every now and then to make sure you're up to date on the
        party rules.
        <br>
        <br>
        By using Afterhours, you're agreeing to this Privacy Policy. If you have any questions or need clarification,
        reach out to our privacy team at privacy@afterhours.com. They're friendly, we promise.
        <br>
        <br>
        Cheers to good times and privacy – let the happy hour continue!
        <br>
        <br>
        Party responsibly,
        <br>
        <br>
        The Afterhours Team

    </p>
</div>