<div class="login-container">
	<div class="login-box">
		<p id="error" class="error" hidden></p>
		<form action="/reports" method="POST" class="reports-form" id="reports-form">
			<div class="side">
				<h2>#ContactUs 🍻</h1>

          <div class="user-box">
            <input class="input" type="text" id="firstNameInput" name="firstNameInput" required=""
              value="{{firstNameInput}} {{lastNameInput}}">
            <label class="input-label" for="firstNameInput">#YourName</label>
          </div>

          <div class="user-box">
            <input class="input" type="email" id="emailInput" name="emailInput" required="" value="{{emailInput}}">
            <label class="input-label" for="emailInput">#YourEmail</label>
          </div>

					<div class="user-box">
						<p>Reason:</p>
						<select name="reasonInput" id="reasonInput" required>
							<option value="" disabled selected hidden>Choose a reason</option>
							<option value="Report a problem">Report a problem</option>
							<option value="Inaccurate information">Inaccurate information</option>
							<option value="Make a suggestion">Make a suggestion</option>
							<option value="Give a compliment">Give a compliment</option>
							<option value="Other">Other</option>
						</select>
					</div>

					<div class="user-box">
						<textarea name="commentInput" id="commentInput"
							placeholder="Raise the Bar: Let us know what's on your mind. Bonus points if your message is served on the rocks 🥂💭"></textarea><br>
					</div>

          <button type="submit" id="submit" class="submit-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            #BoozeBuzz
          </button>

			</div>
		</form>
	</div>

	<div class="message-container">
		<a class="link" href="javascript:javascript:history.go(-1)"> 🔙 #GoBack to the previous page </a>
	</div>

</div>