<div class="terms-wrapper">
    <h2>#TermsAndConditions 🍾<br> for the  Happiest Happy Hour App Ever called Afterhours!</h2>
    
<p>Welcome to the joyous world of the Happiest Happy Hour website ("Afterhours") – where laughter is the best mixer and good times are the only currency. Before you dive into the sea of happiness, please take a moment to familiarize yourself with our lighthearted terms and conditions. We promise, they're as refreshing as a nice cold beer on a hot day!
</p>
<ol>

<li>Laughter is Mandatory:
By using the Afterhours website, you agree to embrace joy, spread smiles, and indulge in hearty laughter. We're not just an website; we're your daily dose of happiness. 
<br></li>
<li>Happy Hour Time Warp:
Time may seem to fly during your time on the Afterhours website. Please be advised that a minute here might feel like a second in the regular world. Make the most of it and savor every moment.
<br></li>
<li>Currency:
Our virtual currency is the Chuckle Coin. It holds no monetary value, but its worth in giggles is immeasurable. Spend wisely and share generously!
<br></li>
<li>Emoji-Only Communication:
During Happy Hour, communicate using emojis only. Let your facial expressions do the talking – it's a universal language, and it's way more fun!
<br></li>
<li>Hour Wardrobe:
Dress code for Happy Hour on the Afterhours website is strictly 'comfy and casual.' Pajamas, fuzzy socks, and silly hats are highly encouraged. Formal attire is reserved for serious apps. Please keep in mind that our bars may require business casual attire. Please make sure that you are dress accordingly. 
<br></li>
<li>Dancing Feet Disclaimer:
Happy Feet Syndrome (excessive dancing) is a common side effect of using the Afterhours website. We are not liable for spontaneous dance parties breaking out in your living room or office. Boogie responsibly.
<br></li>
<li>Cocktail of Virtual Confetti:
Expect a daily shower of virtual confetti when you open the app during Happy Hour. Don't worry; it's low in calories and high in euphoria.
<br></li>
<li>Jokester's Responsibility:
If you're the designated jokester in your group, kindly take your responsibilities seriously. Corny jokes, puns, and dad jokes are not just accepted – they're celebrated.
<br></li>
<li>Forget the Frowns:
Any attempt to bring negativity into the Afterhours website will result in an automatic redirect to a compilation of funny cat videos. Trust us; you'll thank us later.
<br></li>
<li> Happy Hour Safety:
Remember, laughter-induced tears may occur. Keep tissues handy and avoid operating heavy machinery during Happy Hour. We care about your safety, even if it's in the pursuit of a good belly laugh.
<br></li>

</ol>

<p>
By accessing the Happiest Happy Hour App, you acknowledge and agree to these terms, and you pledge to spread joy wherever you go. Now, let the laughter begin! Cheers to happiness, chuckles, and the pursuit of the perfect punchline!
</p>

</div>