@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

body,
html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

/* css for navbar */
.main-nav {
	display: block;
	padding: 1rem 2rem;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 2rem;
	;
	z-index: 2;
	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	background: #111;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.main-nav>.content-wrapper-sm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (min-width: 768px) {
	.main-nav {
		background: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.main-nav .navbar-brand {
	font-size: 1.5rem;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

.main-nav .nav-links {
	position: relative;
	top: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
	overflow: hidden;
	height: 0;
	background: transparent;
}

@media (min-width: 768px) {
	.main-nav .nav-links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: auto;
	}
}

.main-nav .nav-links li {
	margin: 1rem;
	text-align: center;
}

.main-nav .nav-links li a {
	color: #fefffe;
	display: block;
	text-decoration: none;
}

.main-nav .nav-open {
	position: absolute;
	top: 133%;
	width: 100%;
	display: block;
	height: auto;
	background: #111;
}

.main-nav .nav-open li {
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav .nav-open li a {
	padding: 2rem 0;
}

.fixed-nav {
	background: #111;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

/* css for main image */

.parallax-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.parallax-image {
	background-image: url('https://wallpapercave.com/wp/wp3102516.jpg');
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: #fff;
	text-align: center;
}

.content h1 {
	font-size: 4em;
	margin-bottom: 20px;
}

.content h1 strong {
	font-weight: normal;
}

.content h2 {
	font-size: 3em;
	font-weight: normal;
}

.content h1,
.content h2 {
	color: rgb(217, 217, 232);
	text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
}

/* css for featured */


.bar-info {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 42%, rgba(84, 1, 185, 1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.laser-beams {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.laser-beam {
    position: absolute;
    bottom: 0;
    width: 3px;
    height: 500%;
    background: rgba(99, 195, 231, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
    transform-origin: 0 100%;
    animation: laser 7s infinite;
}

.laser-beam.red {
    animation: laser 7.5s infinite;
    background: rgba(178, 19, 236, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(178, 19, 236, 1);
}

.laser-beam.purple {
    animation: laser 7.3s infinite;
    background: rgba(44, 147, 236, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(44, 147, 236, 1);
}

.laser-beam.green {
    animation: laser 7.7s infinite;
    background: rgba(200, 52, 210, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(200, 52, 210, 1);
}

@keyframes laser {
    0% {
        transform: rotateZ(-90deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    100% {
        transform: rotateZ(-90deg);
    }
}

.bar-info {
    text-align: left;
}

.bar-info h1 {
    color: rgb(217, 217, 232);
    text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    font-size: 4em;
    margin-bottom: 20px;
    text-align: left;
}

.bar-info h1 strong {
    font-weight: normal;
}


.bar-squares {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.bar-square {
    text-align: center;
    width: 200px;
}

.bar-square img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
	margin-top: 40px;
    margin-bottom: 10px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.bar-square h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(217, 217, 232);
	text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
}

.bar-square p {
    font-size: 1em;
    color: #ffffff;
}

/* footer css*/

.footer{
	background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 42%, rgba(84, 1, 185, 1) 100%);
	padding:30px 0px;
	font-family: 'Play', sans-serif;
	text-align:center;
	}
	
	.footer .row{
	width:100%;
	margin:1% 0%;
	padding:0.6% 0%;
	color:rgb(255, 255, 255);
	font-size:0.8em;
	}
	
	.footer .row a{
	text-decoration:none;
	color:rgb(255, 255, 255);
	transition:0.7s;
	}
	
	.footer .row a:hover{
	color:#fff;
	}
	
	.footer .row ul{
	width:100%;
	}
	
	.footer .row ul li{
	display:inline-block;
	margin:0px 30px;
	}
	
	.footer .row a i{
	font-size:2em;
	margin:0% 1%;
	}
	
	@media (max-width:720px){
	.footer{
	text-align:left;
	padding:5%;
	}
	.footer .row ul li{
	display:block;
	margin:10px 0px;
	text-align:left;
	}
	.footer .row a i{
	margin:0% 3%;
	}
	}
	
	
	